{% extends 'app.html' %}

{% block content %}

<div class="fight_page container col-12 d-flex flex-column pt-5 pb-5 justify-content-center align-items-center">

    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="col-5 d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-column align-items-center mb-3 col-12">
                <h3 class="d-flex justify-content-center">
                    {{ pokemon.name }} (you)
                </h3>
                <div class="d-flex col-3 justify-content-between">
                    <div>hp: {{ pokemon.hp }}</div>
                    <div>attack: {{ pokemon.attack }}</div>
                </div>
            </div>
            
            <div class="d-flex justify-content-center {% if winner and winner != pokemon.id %} dead {% endif %}">
                <img src="{{ pokemon.image }}" alt="{{ pokemon.name }} image" height="150"/>
            </div>
    
            <div class="d-flex col-4 mt-3 justify-content-center fs-4 fw-bolder">
                <div>hp: {{ session['select_pokemon_hp'] }}</div>
            </div>
    
            {% if not winner %}
            <div class="mt-3 d-flex col-4">
                <form class="d-flex mt-3 col-12" action="{{ url_for('round') }}" method="post" enctype="multipart/form-data">
                    <div class="input-group">
                        <label>Enter a number from&nbsp;1&nbsp;to&nbsp;10:</label>
                        <input class="col-6 form-control" name="entered_number" type="number" min="1" max="10" step="1" required />
                        <button class="col-6 btn btn-outline-secondary" type="submit">Enter</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>

        <div class="col-2 d-flex flex-column justify-content-center align-items-center">
            <h1>VS</h1>
            {% if rounds %}
            <table class="col-12 table">
            <tbody class="col-12 d-flex flex-column table justify-content-center align-items-center">
                <tr class="col-12 d-flex">
                    <th class="col-3 d-flex justify-content-center">Your num</th>
                    <th class="col-3 d-flex justify-content-center">Your hp</th>
                    <th class="col-3 d-flex justify-content-center">VS num</th>
                    <th class="col-3 d-flex justify-content-center">VS hp</th>
                </tr>
                {% for round in rounds %}
                <tr class="col-12 d-flex {% if round[2] == pokemon.id %} table-success {% endif %} {% if round[2] == vs_pokemon.id %} table-danger {% endif %}">
                    <td class="col-3 d-flex justify-content-center">{{ round[0]['number'] }}</td>
                    <td class="col-3 d-flex justify-content-center">{{ round[0]['hp'] }}</td>
                    <td class="col-3 d-flex justify-content-center">{{ round[1]['number'] }}</td>
                    <td class="col-3 d-flex justify-content-center">{{ round[1]['hp'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            {% else %}
            <div>
                <a class="d-flex btn btn-outline-secondary" href="{{ url_for('fast_fight') }}">Fast fight</a>
            </div>
            {% endif %}
        </div>
    
        <div class="col-5 d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-column align-items-center mb-3 col-12">
                <h3 class="d-flex justify-content-center">
                    {{ vs_pokemon.name }}
                </h3>
                <div class="d-flex col-3 justify-content-between">
                    <div>hp: {{ vs_pokemon.hp }}</div>
                    <div>attack: {{ vs_pokemon.attack }}</div>
                </div>
            </div>
            
            <div class="d-flex justify-content-center {% if winner and winner != vs_pokemon.id %} dead {% endif %}">
                <img src="{{ vs_pokemon.image }}" alt="{{ vs_pokemon.name }} image" height="150"/>
            </div>
    
            <div class="d-flex col-4 mt-3 justify-content-center fs-4 fw-bolder">
                <div>hp: {{ session['vs_pokemon_hp'] }}</div>
            </div>
    
            {% if not winner %}
            <div class="mt-3 d-flex">
                <div class="d-flex mt-3 justify-content-center fs-4 border border-secondary rounded">
                    <div class="d-flex justify-content-center align-items-center p-1">
                        Number:&nbsp;
                        <span class="fw-bolder">...</span>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    {% if winner %}
    <div class="d-flex flex-column col-6 mt-5 fs-4 p-2 border border-secondary rounded justify-content-center align-items-center">
        <div> {{ pokemon.name if winner == pokemon.id else vs_pokemon.name }} win! </div>
        <a class="d-flex col-6 btn btn-outline-secondary justify-content-center" href="{{ url_for('pokemons') }}">OK</a>
    </div>
    {% endif %}

</div>
{% endblock %}

