{% extends 'app.html' %}

{% block content %}

<div class="container list_page col-12 d-flex pb-5 flex-column justify-content-center align-items-center">

    <div class="col-8">
        <table class="table">
            <thead>
            <tr>
                {% for h in thead %}
                <th scope="col">{{ h }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for fight in fights %}
            <tr>
                <th scope="row">{{ fight.id }}</th>
                <td>{{ fight.select_pokemon }}</td>
                <td>{{ fight.vs_pokemon }}</td>
                <td>{{ fight.win }}</td>
                <td>{{ fight.rounds }}</td>
                <td>{{ fight.date_time.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td>{{ fight.user.name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

