{% extends 'app.html' %}

{% block content %}
{{ super() }}

<div class="container col-12 d-flex pt-5 pb-5 flex-column justify-content-center align-items-center">
    <h3 class="col-8 mb-3">Pokemons</h3>

    <form class="col-8" action="/search" method="get" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="text" name="search_string" value="{{ search_string }}" class="form-control" placeholder="Search...">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>

    <div class="col-8">
        <ul>
            {% if pokemons == [] %}
                <div> Not found </div>
            {% else %}
                {% if search_string %}
                <li>
                    <div> ID: {{ pokemons.id }} </div> 
                    <div> NAME: {{ pokemons.name}} </div>
                </li>
                {% else %}
                    {% for pok in pokemons %}
                    <li>
                        <div> {{ pok.name }} </div> 
                    </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </ul>
    </div>

    <nav>
        {% if pokemons != [] %}
        <ul class="pagination">

            <li class="page-item">
                {% if current > 1 %}
                <form action="/" method="get" enctype="multipart/form-data">
                    <input type="hidden" name="page" value="{{ current - 1 }}">
                    <button class="btn btn-outline-secondary" type="submit">&laquo;</button>
                </form>
                {% endif %}
            </li>

            {% for page in page_list %}
            <li>
                <form action="/" method="get" enctype="multipart/form-data">
                    <input type="hidden" name="page" value="{{ page }}">
                    <button class="btn btn-outline-secondary {% if page == current %}active{% endif %}" type="submit">{{page}}</button>
                </form>
            </li>
            {% endfor %}

            <li class="page-item">
                {% if current < final_page %}
                <form action="/" method="get" enctype="multipart/form-data">
                    <input type="hidden" name="page" value="{{ current + 1 }}">
                    <button class="btn btn-outline-secondary" type="submit">&raquo;</button>
                </form>
                {% endif %}
            </li>
        </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}

