{% extends 'app.html' %}

{% block content %}

<div class="pokemon_page container col-8 d-flex pt-3 pb-3 justify-content-center align-items-center">

    <div class="d-flex col-6 justify-content-center large_image">
        <img src="{{ pokemon.large_image }}" alt="{{ pokemon.name }} image" height="300"/>
    </div>

    <div class="d-flex col-6 poke_info flex-column justify-content-between">
        <h2 class="">{{ pokemon.name }}</h2>

        <div class="stats">
            <div>hp: {{ pokemon.hp }}</div>
            <div>attack: {{ pokemon.attack }}</div>
            <div>defense: {{ pokemon.defense }}</div>
            <div>speed: {{ pokemon.speed }}</div>
            <div>poison: {{ pokemon.poison }}</div>
        </div>

        <div class="d-flex mt-3">
            <form class="col-12" action="/fight" method="get" enctype="multipart/form-data">
                <input type="hidden" name="select_pokemon" value="{{ pokemon.name }}">
                <button class="col-6 btn btn-outline-secondary" type="submit">Select</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

